.info-page .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-page header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-page .info-page__update {
    text-transform: uppercase;
}

.info-page .info-page__update strong{
    color: #7c7b7b;
}