.chart-item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 320px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: #0C0C0C;
}

.chart-item h2{
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
}

.chart-chart{
    position: relative;
    width: 260px;
    height: 260px;
}

.chart-chart h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.chart-info, .chart-info span{
    font-family: buttons-a;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.chart-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.chart-info .chart-info__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-info .chart-info__item .chart-info__right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.chart-info .chart-info__color{
    width: 10px;
    height: 10px;
}

.chart-info .chart-info__item.first .chart-info__color{
    background: #ffffff;
}

.chart-info .chart-info__item.second .chart-info__color{
    background: #7c7b7b;
}